## Copy this file and rename to 'make-private.mk' to make local-only changes (to override default variables)##
#  There's a .gitignore entry for make-private.mk so any changes won't be commited to source control.

# The environment to deploy to:
# export ENVIRONMENT = dev

# The name of the tfvars file to use under deployment/config (Only set this if your tfvars file
# doesn't match the enviornment name, e.g. you want to be able to deploy more than one instance of the 
# deployment to the same environment):
# CONFIG = dev-test1

# https://www.terraform.io/internals/debugging
# export TF_LOG := TRACE
